table.tablesorter {
	font-size: 14px;
	background-color: #4D4D4D;
	width: 1000px;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 0px;
	margin: 100px;
	height: 300px;
	background-color: #FFFFFF;
}
table.tablesorter td {
	color: #000;
	background-color: #faa;
	padding: 0px;		
	height: 50px;
	text-align: center;		
}
table.tablesorter .even {
	background-color: #6a2;	
}
table.tablesorter .odd {
	background-color: #faa;
}
table.tablesorter .header {
	background-image: url(bg2.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 0px;
	padding-down: 0px;	
	height: 50px;
}
table.tablesorter .headerSortUp {
	background-image: url(asc2.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc2.png);
	background-repeat: no-repeat;
}