<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link href='/stylesheets/googlefont.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/googlefont2.css' rel='stylesheet' type='text/css' />


<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="http://efest.in">E-Fest</a></h1>
	</div>
	<div id="menu">
		<ul>			
		</ul>
	</div>
	
</div>
</div>

<div id="page-wrapper">

</br>
</br>
</br>
</br>
	<div id="page">
	<h3>Internet Explorer is not supported. Please <a href="https://www.google.com/intl/en/chrome/browser/">download</a> and use Google Chrome browser</h3>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
		<div id="content">
									
			<div>
			<!------------------------------------------------------------------------------------------------------------>			
				
			<!------------------------------------------------------------------------------------------------------------->	
			</div>
		
		</div>
		
	</div>
</div>

<div id="footer">
	<p>Copyright (c) 2012 E-Fest. All rights reserved. Developed by <a href="http://www.pulkitgupta.net">Pulkit Gupta</a>.</p>
</div>
</body>
</html>
