<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>

<body style="font-family: sans-serif;">
<% include elements/header %>
<div id="banner-wrapper">
	<div id="banner"><img src="images/contact_banner.jpg" width="1000" height="345" alt="" /></div>
</div>
<div id="page-wrapper">
	<div id="page">
		<div id="content">
			<h2> Contact Us</h2>
			<div align=center style="background: white;">
				
				</br></br>
			   
				<strong>Soft Mantra Technologies Limited</strong>
				 <!-- </br></br>
				  Regd. Office: C-145, 1st Floor (Front), Captain Satish Marg,
				  </br>
				  Rishi Nagar, Rani Bagh, 
				  </br>
				  Delhi - 110034 (India) -->
				  </br></br>
				  Email Id: info@efest.in
				  </br></br>
				  Contact: +919911430242, +919958140688
				  </br></br>
				  For any querries related to operation of website,
				  </br>
				  Please contact our 24 hours Technical Support Department
				  </br></br>			  
				  Email ID: support@efest.in
				  </br></br>
				  For any querries related to payment,
				  </br>
				  Please contact at
				  </br></br>			  
				  Email ID: payment@efest.in
			</div>
		
		</div>				
		
		<div id="sidebar">
				</br></br></br>
			
		</br></br>
			<ul class="style1">
				<li class="first">
					<img src="images/contact.jpg" width=300 height=200></img>
				</li>							
			</ul>
		</div>	
	</div>
			
	</div>
</div>

<% include elements/footer %>
</body>
</html>
