<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<script src="javascripts/wufoo.js"></script>
<link href="stylesheets/form.css" rel="stylesheet">
<body>
<% include elements/header %>
<div id="page-wrapper">
	<div id="content">
		<div align = center>
			</br>
			<h3>Your Account Details</h3>			
			 Please edit to update
		</div>
	</div>		
	<div id="sidebar">			
		<p class="button-style"><a href="/member">Back</a></p>		
		<p class="button-style"><a href="/logout">Logout</a></p>			
	</div>
</div>
<div id="footer-wrapper">
	<div id="footer-content">			
		<!------------------------------------------------------------------------------------------------------------>			
			<form id="form" name="form" class="wufoo topLabel page" autocomplete="on" enctype="multipart/form-data" method="post" action="update">
						
				<ul>
				
				<li id="foli0" class="notranslate      ">
					<label class="desc" id="title0" for="firstname">
						Name<span id="req_2" class="req">*</span>
					</label>
						<span>
							<input id="firstname" name="firstname" type="text" class="field text fn" value="<%=session.firstname%>" size="8" tabindex="1" />
							<label for="firstname">First</label>
						</span>
						<span>
							<input id="lastname" name="lastname" type="text" class="field text ln" value="<%=session.lastname%>" size="14" tabindex="2" />
							<label for="lastname">Last</label>
						</span>
					</li>
				
								
					<li id="foli2" class="complex notranslate      ">
						<label class="desc" id="title2" for="address">
							Address<span id="req_2" class="req">*</span>
						</label>
					<div>
						<span class="full addr1">
							<input id="Field2" name="street" type="text" class="field text addr" value="<%=session.street%>" tabindex="3" required />
							<label for="Field2">Street Address</label>
						</span>
						<span class="full addr2">
							<input id="Field3" name="address2" type="text" class="field text addr" value="<%=session.address2%>" tabindex="4" />
							<label for="Field3">Address Line 2</label>
						</span>
						<span class="left city">
							<input id="Field4" name="city" type="text" class="field text addr" value="<%=session.city%>" tabindex="5" required />
							<label for="Field4">City</label>
						</span>
						<span class="right state">
							<input id="Field5" name="state" type="text" class="field text addr" value="<%=session.state%>" tabindex="6" required />
							<label for="Field5">State / Province / Region</label>
						</span>
						<span class="left zip">
							<input id="Field6" name="postal" type="text" class="field text addr" value="<%=session.postal%>" maxlength="15" tabindex="7" required />
							<label for="Field6">Postal / Zip Code</label>
						</span>
						<span class="right country">
							<select id="Field7" name="country" class="field select addr" tabindex="8" >
								<option value="<%=session.country%>" selected="selected"><%=session.country%></option>
								<option value="United States" >United States</option>
								<option value="United Kingdom" >United Kingdom</option>
								<option value="Australia" >Australia</option>
								<option value="Canada" >Canada</option>
								<option value="Zimbabwe" >Zimbabwe</option>
							</select>
							<label for="Field7">Country</label>
						</span>
					</div>
					</li>							
					
					
					<li id="foli8" class="phone notranslate leftHalf     ">
						<label class="desc" id="title8" for="mobile">
							Mobile
						</label>
						<span>
							<input id="Field8" name="mobile" type="tel" class="field text" value="<%=session.mobile%>" size="25" maxlength="20" tabindex="8" />				
						</span>
					</li>
					<li id="foli9" class="phone notranslate rightHalf">
						<label class="desc" id="title9" for="photo">
							Current Photo							
						</label>	
						<label class="desc" id="title9" for="photo">
							<img  src="users/<%=session.email%>.jpg" width=200 height=200></img>
						</label>
					
					</li>									
					<li id="foli10" class="phone notranslate leftHalf     ">
						<label class="desc" id="title8" for="mobile">
							New Password
						</label>
						<span>
							<input id="password" name="password" type="password" class="field text" value="" size="25" maxlength="20" tabindex="10" />				
						</span>
					
					</li>				
					<li id="foli11" class="phone notranslate leftHalf">
						<label class="desc" id="title8" for="mobile">
							Verify password
						</label>
						<span>
							<input id="pass2" name="pass2" type="password" class="field text" value="" size="25" maxlength="20" tabindex="11" />				
							
						</span>
					</li>		
										
					
					<li id="foli12" class="phone notranslate leftHalf">
						
						<label class="desc" id="title9" for="photo">
							Upload  Photo
						</label>
						<span>
							<input id="photo" name="photo" type="file" class="field text" value="" size="25" maxlength="20" tabindex="12" />				
						</span>
									
					</li>				
					
					
			
					<li id="foli11" class="phone notranslate leftHalf">
						<p class="button-style"><a href="javascript: submitform()" tabindex="13">Save Changes</a></p>
					</li>
				</ul>
				</form>
				<script type="text/javascript">							
				
				function submitform()
				{
					//var x=document.forms["form"].fistname.value;
					var x=document.getElementById("firstname").value;
					var y=document.getElementById("lastname").value;									
					var password = document.getElementById("password").value;
					var pass2 = document.getElementById("pass2").value;			
					
					if (x==""||y=="")
					{	
						alert("Fields can not be left blank");						
					}					
					else if(password!=pass2)
					{
						alert("Passwords entered didn't match");						
					}
					else
					{
					    document.forms["form"].submit();
					}
				}
							
				</script>
				<!------------------------------------------------------------------------------------------------------------->							
			
	</div>
</div>

<% include elements/footer %>
</body>
</html>
