<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<script src="javascripts/wufoo.js"></script>
<link href="stylesheets/jquery-ui-1.9.0.custom.css" rel="stylesheet">
<script>
$(document).ready(function() {    		
	if("<%=msg%>"!="")
		$("#mymessage").addClass('ui-state-highlight ui-corner-all');				
});	
</script>
<link href="stylesheets/form.css" rel="stylesheet">
<script type="text/javascript">

function enterKey(evt) { 
	var evt = (evt) ? evt : event 
	var charCode = (evt.which) ? evt.which : evt.keyCode 
	if (charCode == 13) { 
		submitform();
	} 
} 
</script>
<body>
	<script type="text/javascript"> document.body.onkeypress = enterKey;</script>
	<% include elements/header %>
	<div id="page-wrapper">
		<div id="page">
			<div id="content">
				<div>
					<form id="form" name="form" class="wufoo topLabel page" autocomplete="on" enctype="multipart/form-data" method="post" action="loginuser">
						<header id="header" class="info">
							<h2> Login </h2>			
						</header>
						<p id="mymessage"><%=msg%></p>																			
						<ul>
							<input id="redir" name="redir" type="hidden" class="field text ln" value="<%=redir%>" size="30" tabindex="1" />
							<li id="foli0" class="notranslate      ">
								<label class="desc" id="title0" for="firstname">
									Email ID<span id="req_2" class="req">*</span>
								</label>					
								<span>
									<input id="email" name="email" type="text" class="field text ln" value="" size="30" tabindex="1" />
								</span>
							</li>
							<li id="foli0" class="notranslate      ">
								<label class="desc" id="title0" for="password">
									Password<span id="req_2" class="req">*</span>
								</label>					
								<span>
									<input id="password" name="password" type="password" class="field text ln" value="" size="30" tabindex="2" />												
								</span>
							</li>																			

							<p class="button-style"><a href="javascript: submitform() " tabindex="3">Submit</a> </p>     <p class="button-style"><a href="/forgot" tabindex="4">Forgot Password</a></p>

						</ul>

					</form>

					<script type="text/javascript">
						function ValidateEmail(mail)   
						{  
							if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
							{  
								return (true)  
							}  			    
							return (false)  
						}  
						function submitform()
						{
							//var x=document.forms["form"].email.value;
							var email=document.getElementById("email").value;				
							if(!ValidateEmail(email))
							{
								alert("You have entered an invalid email address!")  
							}				
							else
							{
								document.forms["form"].submit();
							}
						}
					</script>
				</div>
			</div>
			<div id="sidebar">
				</br></br>
				<h3>World of Eco-Friendly Crackers</h3>			
				</br></br>
				<ul class="style1">
					<li class="first">
						<img src="images/side1.jpg" width=300 height=200></img>
					</li>							
				</ul>
			</div>
		</div>
	</div>
<% include elements/footer %>
</body>
</html>
