<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<link href="stylesheets/jquery-ui-1.9.0.custom.css" rel="stylesheet">
<script src="javascripts/sliderpage/jquery-1.8.2.js"></script>
<script src="javascripts/sliderpage/jquery-ui-1.9.0.custom.js"></script>
<style type="text/css">
	#img3 {cursor: pointer}
	#footer-content{height: 200px;}
</style>
<script>	
	$(document).ready(function() {    		
		
		$( "#dialog" ).dialog({ autoOpen: false,
	    	    	resizable: false,
        		height:410,
        		width: 700,
        		show: "scale",
        		modal: true,
            		buttons: {"Start": function() { 
            				var cgid=document.getElementById("gid").value;
            				console.log(cgid);            				            			
            				window.location.href = "/play?q="+cgid;
            				
            				},
                		  "Wait": function() {  $( this ).dialog( "close" );}	
                		  }
        	 
        	});	
				
		$("#img1").hover(function() {
		    $( "#img1" ).effect( "bounce",{times:3},1000 );		    
		}, function(){});				
		$("#img2").hover(function() {
		    $( "#img2" ).effect( "bounce",{times:3},1000 );		    
		}, function(){});		
		$("#img3").hover(function() {
			$( "#img3" ).effect( "bounce",{times:3},1000);		    			
		}, function(){});
		
		$("#img3").click(function(){
			$( "#dialog" ).dialog( "open" );			
		});
			
								
	});
</script>
<body>
<% include elements/header %>

<div id="page-wrapper">
	<div id="content">
		<div align = center>
			</br>
			<h3>Welcome <strong><%=session.firstname%> <%=session.lastname%></strong></h3>
			This is your account page
		</div>
	</div>		
	<div id="sidebar">			
		<p class="button-style"><a href="/settings">INFO</a></p>
		<p class="button-style"><a href="/logout">Logout</a></p>			
	</div>
</div>
<div id="footer-wrapper">
	
	<div id="dialog" title="Important Message"><p>Once started, minimum session will be of 1 Hour excluding the case you are resuming your your session.</p>
	</br>
	<strong>Please note:</strong> Google Chrome web browser is highly-recommended. Login using Google Chrome. Other web browsers may have performance issue.<br></br>
	In case, You do not have <strong>Google-Chrome</strong>, <a href="https://www.google.com/intl/en/chrome/browser/">please download from here</a>.
	</br></br>
	Please disable any <strong>Firewall or Anti-virus</strong> running on your system, that might block your connection to server.
	</br></br>
	<p>Enter Celebration ID of the session to start:<input type="text" id ="gid" name="gid" value=""></p>
	</div>
	
	<div id="footer-content">		
		<div id="fbox1">
			<a href="/mycelebrations">
				<p><img id="img1"  src="images/pics02.jpg" width="320" height="150" alt="" /></p>
			</a>	
				<p><strong>check status of all of your active celebration shows with all details of your friends.</strong></p>			
				
		</div>
		<div id="fbox2">
			<a href="/plans"><p><img id="img2" src="images/pics03.jpg" width="320" height="150" alt="" /></p></a>
			<p><strong>Book new customized celebration sessions.</strong></p>			
		</div>
		<div id="fbox3">
			<p><img id="img3" src="images/pics04.png" width="320" height="150" alt="" /></p>
			<p><strong>Click to Resume/start your booked celebration</strong></p>
			
		</div>
	</div>
</div>

<% include elements/footer %>


</body>
</html>
