<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
	<script src="javascripts/dpEncodeRequest.js"></script>
	<script>
	function submitFrm()
	{
		document.ecom.requestparameter.value = encodeValue(document.ecom.requestparameter.value);
		document.ecom.submit();
	}
	window.onload=function(){submitFrm();} 
</script>	

<body  style="font-family: sans-serif;">
<% include elements/header %>

<div id="banner-wrapper">
	<div id="banner"><img src="images/pics01.jpg" width="1000" height="345" alt="" /></div>
</div>

<div id="page-wrapper">
	<div id="page">
		<div id="content">
			<h2>Processing................</h2>				
		</div>				
		<form name="ecom" method="post" id="f1"
		action="<%=locals.address%>"
		onSubmit="submitFrm;">			
		
		<input type="hidden" name="custName" value="<%=locals.user.firstname+" "+locals.user.lastname%>">
		<input type="hidden" name="custAddress" value="<%=locals.user.street||'Delhi'%>">
		<input type="hidden" name="custCity" value="<%=locals.user.city||'Delhi'%>">
		<input type="hidden" name="custState" value="<%=locals.user.state||'Delhi'%>">
		<input type="hidden" name="custPinCode" value="<%=locals.user.postal||'110001'%>">
		<input type="hidden" name="custCountry" value="IN">
		<input type="hidden" name="custMobileNo" value="<%=locals.user.mobile||'99'%>">
		<input type="hidden" name="custEmailId" value="<%=locals.user.email||' '%>">
			
		
		<input type="hidden" name="editAllowed" value='Y'>
				<input type="hidden" name="requestparameter"
			value="<%=locals.requestparameter%>">			
		</form>								
	</div>
				
</div>


<% include elements/footer %>
</body>
</html>
