<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<script src="javascripts/wufoo.js"></script>
<link href="stylesheets/form.css" rel="stylesheet">

<body>
<% include elements/header %>
<div id="banner-wrapper">
	<div id="banner"><img src="images/pics01.jpg" width="1000" height="345" alt="" /></div>
</div>
<div id="page-wrapper">
	<div id="page">
		<div id="content">
			
			<div>
			<!------------------------------------------------------------------------------------------------------------>			
			<form id="form" name="form" class="wufoo topLabel page" autocomplete="on" enctype="multipart/form-data" method="post" action="userconfirm">
			
			<header id="header" class="info">
			<h2> Registration</h2>
			</header>
			
			<ul>
				<li id="foli0" class="notranslate      ">
					<label class="desc" id="title0" for="firstname">
						Name<span id="req_2" class="req">*</span>
					</label>
					<span>
						<input id="firstname" name="firstname" type="text" class="field text fn" value="" size="8" tabindex="1" />
						<label for="firstname">First</label>
					</span>
					<span>
						<input id="lastname" name="lastname" type="text" class="field text ln" value="" size="14" tabindex="2" />
						<label for="lastname">Last</label>
					</span>
				</li>
			
							
				<li id="foli9" class="notranslate leftHalf     ">
					<label class="desc" id="title9" for="email">
						Email<span id="req_9" class="req">*</span>
					</label>
					<div>
						<input id="email" name="email" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" required /> 
					</div>
				</li>
				
				
				<li id="foli9" class="phone notranslate leftHalf     ">
					<label class="desc" id="title8" for="mobile">
						Password<span id="req_9" class="req">*</span>
					</label>
					<span>
						<input id="password" name="password" type="password" class="field text" value="" size="25" maxlength="20" tabindex="4" />				
					</span>
				
				</li>				
				<li id="foli10" class="phone notranslate rightHalf">
					<label class="desc" id="title8" for="mobile">
						Verify password<span id="req_9" class="req">*</span>
					</label>
					<span>
						<input id="pass2" name="pass2" type="password" class="field text" value="" size="25" maxlength="20" tabindex="5" />				
					</span>
								
				</li>
				
				<li id="foli8" class="phone notranslate leftHalf     ">
					<label class="desc" id="title8" for="mobile">
						Mobile
					</label>
					<span>
						<input id="Field8" name="mobile" type="tel" class="field text" value="" size="25" maxlength="20" tabindex="6" />				
					</span>
					
				</li>		
				
				<li id="foli11" class="phone notranslate leftHalf">
					
					<label class="desc" id="title9" for="photo">
						Upload  Photo
					</label>
					<span>
						<input id="photo" name="photo" type="file" class="field text" value="" size="25" maxlength="20" tabindex="12" />				
					</span>
								
				</li>				
		
				<li id="foli11" class="phone notranslate leftHalf">
					<p class="button-style"><a href="javascript: submitform()" tabindex="13">Submit</a></p>					
				</li>
			</ul>
			</form>
			<script type="text/javascript">
				function ValidateEmail(mail)   
				{  
				 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
				  {  
				    return (true)  
				  }  			    
				    return (false)  
				}  
				
				function submitform()
				{
					//var x=document.forms["form"].fistname.value;
					var x=document.getElementById("firstname").value;
					var y=document.getElementById("lastname").value;				
					var email = document.getElementById("email").value;
					var password = document.getElementById("password").value;
					var pass2 = document.getElementById("pass2").value;			
					var filename = document.getElementById("photo").value;			
					
					if (x==""||y==""||email==""||password=="")
					{	
						alert("Fields can not be left blank");						
					}
					else if(!ValidateEmail(email))
					{
						alert("You have entered an invalid email address!")  
					}
					else if(password!=pass2)
					{
						alert("Passwords entered didn't match");						
					}
					else if(filename!="")
					{
					    Validate(document.forms["form"]);					    
					}
					else
					{
					    document.forms["form"].submit();
					}
				}
										
				var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
				
				function Validate(oForm) {
				    var arrInputs = oForm.getElementsByTagName("input");
				    for (var i = 0; i < arrInputs.length; i++) {
				        var oInput = arrInputs[i];
				        if (oInput.type == "file") {
				            var sFileName = oInput.value;
				            if (sFileName.length > 0) {
				                var blnValid = false;
				                for (var j = 0; j < _validFileExtensions.length; j++) {
				                    var sCurExtension = _validFileExtensions[j];
				                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
				                        blnValid = true;
				                        document.forms["form"].submit();
				                        break;
				                    }
				                }
				
				                if (!blnValid) {				                
				                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
				                    return false;
				                }
				            }
				        }
				    }
				
				    return true;
				}
			</script>
			<!------------------------------------------------------------------------------------------------------------->	
			</div>
		
		</div>
		<div id="sidebar" style="font-family: sans-serif;">
			<h2>Filling Form</h2>
			</br>
			<ul class="style1">
				<li class="first">
					<p>Please enter right information and remember that information.</p>
				</li>
				<li>
					<p>Give proper email ID for which you have access. Account will not be activated without a proper email ID</p>
				</li>
				<li>
					<p>It is recommended to upload a clear photograph so that your friends can recognize you while booking a Celebration show for you</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<% include elements/footer %>
</body>
</html>
