<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<% include elements/head %>	
	<style type="text/css">
		#sidebar {
			float: left;
			width: 290px;
			padding: 0px 30px 0px 0px;
		}	
		#content {
			float: right;
			width: 620px;
			padding: 0px 30px 20px 30px;			
		}
		#page2 {
		width:100px;
		margin:20px 200px;
		margin-bottom: 70px;
	}
	</style>    
 <body>
<<% include elements/header %>
<div id="banner-wrapper">
	<div id="banner"><img src="images/pics01.jpg" width="1000" height="345" alt="" /></div>
</div>

<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left; font-family: sans-serif;" >
			<div>
				
				<h2>TERMS AND CONDITIONS:-</h2>
				<p>
				1)	The performance of website will depend on individual speed of internet and can depict best presentation in Google chrome.
				</p>
				</br>
				2)	SYSTEM CONFIGURATION:-  
				</br></br>
				<p>
					A) Above P-IV Processor and 512 MB RAM.  </br>
					B) Some Anti-Virus blocks the real time data transfer unnecessarily, which cause 		     interrupted connection with server.</br>
					C)  If user can allow Efest.in or make an exception in antivirus system, it is best. Else         user can disable their antivirus temporarily for the one hour session.</br></br>
				</p>
				
				<p>
				3)	The user(s) has to first register himself / herself / itself with valid E-mail ID and authentication link will be sent to registered E-mail ID which will be used to activate the account.</br></br>
				
				4)	The user(s) will book the session after making requisite payment for himself / herself / itself for a required group of person.</br></br>
				
				5)	Once the payment is made through payment gateway, the session will be started and once the session is started no refund of money shall be granted. However, in case of technical problem arises in the website, the company will refund the money to the user and in case of technical problem arises in the computer hardware of the user, the company is not responsible for the same. </br></br>
				
				6)	The website www.efest.in exclusively belongs to M/s Soft Mantra Technologies Limited having its Regd. Office at C-145, 1st Floor (Front), Captain Satish Marg, Rishi Nagar, Rani Bagh, Delhi - 110034. </br></br>
				
				7)	The company has a right to amend, alter, add, modify, remove any content, video, e-cracker from the website without prior intimation to the registered user. </br></br>

				</p>
			</div>
		</div>		
	</div>
</div>



<% include elements/footer %>
</body>
</html>
